/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */

// Стили для файла с примером HTML-фрагмента
// @import './example';
.form-group {
  display: flex;
}

.images {
  display: block;
  display: flex;
  margin: 0;
  padding: 0;
}

.stats {
  display: block;
  display: flex;

  align-items: center;
  width: 280px;
  flex-direction: row;
}
body {
  background-color: darkgrey;
}

.stats-item {
  display: block;
  display: flex;

  width: 50px;
}
